# Economic Indicators

In [1]:
import pandas as pd

In [16]:
cpi = pd.read_csv('Data/CPI.csv')
sp500 = pd.read_csv('Data/SP500.csv')
college = pd.read_csv('Data/college_prices.csv')
salary = pd.read_csv('Data/median_income.csv')
mortgage = pd.read_csv('Data/30_yr_mortgages.csv')
gas = pd.read_csv('Data/gas_prices.csv')
house = pd.read_csv('Data/median_house_price.csv')
population = pd.read_csv('Data/population.csv')

## Renaming columns

In [17]:
cpi = cpi.rename(columns={'DATE': 'Date', 'MEDCPIM158SFRBCLE': 'CPI'})
sp500 = sp500.rename(columns={'DATE': 'Date'})
college = college.rename(columns={'Year': 'Date', 'Public 4-Year': 'Public', 'Private 4-Year': 'Private'})
salary = salary.rename(columns={'DATE': 'Date', 'MEHOINUSA672N': 'Salary'})
mortgage = mortgage.rename(columns={'DATE': 'Date', 'MORTGAGE30US': '30-yr Mortgage'})
gas = gas.rename(columns={})
house = house.rename(columns={'DATE': 'Date', 'MSPUS': 'Median Sale Price'})
population = population.rename(columns={'DATE': 'Date', 'POPTHM': 'Population'})

## Converting to date-time formats

In [18]:
gas

,Date,A1,A2,A3,R1,R2,R3,M1,M2,M3,P1,P2,P3,D1
0,01/02/1995,1.127,1.104,1.231,1.079,1.063,1.167,1.170,1.159,1.298,1.272,1.250,1.386,1.104
1,01/09/1995,1.134,1.111,1.232,1.086,1.070,1.169,1.177,1.164,1.300,1.279,1.256,1.387,1.102
2,01/16/1995,1.126,1.102,1.231,1.078,1.062,1.169,1.168,1.155,1.299,1.271,1.249,1.385,1.100
3,01/23/1995,1.132,1.110,1.226,1.083,1.068,1.165,1.177,1.165,1.296,1.277,1.256,1.378,1.095
4,01/30/1995,1.131,1.109,1.221,1.083,1.068,1.162,1.176,1.163,1.291,1.275,1.255,1.370,1.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356,12/28/2020,2.330,2.225,2.535,2.243,2.158,2.423,2.634,2.482,2.858,2.889,2.770,3.031,2.635
1357,01/04/2021,2.336,2.227,2.549,2.249,2.160,2.437,2.639,2.484,2.867,2.895,2.771,3.042,2.640
1358,01/11/2021,2.403,2.298,2.610,2.317,2.232,2.498,2.702,2.550,2.927,2.959,2.839,3.101,2.670
1359,01/18/2021,2.464,2.351,2.688,2.379,2.285,2.579,2.759,2.601,2.995,3.014,2.885,3.166,2.696
1360,01/25/2021,2.478,2.363,2.703,2.392,2.298,2.593,2.776,2.615,3.014,3.033,2.900,3.191,2.716